.container1 {
  background-color: whitesmoke;
    margin-top: 10pc;
}
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profilesidebar {
    padding: 20px 0 10px 0;
    background: whitesmoke;
  }
  
  .profileuserpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profileusertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profileusertitlename {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profileusertitlejob {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profileuserbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profileuserbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profileuserbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profileusermenu {
    margin-top: 30px;
  }
  
  .profileusermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profileusermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profileusermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profileusermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profileusermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profileusermenu ul li.active {
    border-bottom: none;
  }
  
  .profileusermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profilecontent {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
  

  .profiledesctitle {
      color: #7f90a4;
      font-size: 17px;
      font-weight: 600;
  }
  .profiledesctext {
      color: #7e8c9e;
      font-size: 14px;
  }
  .margintop20 {
      margin-top: 20px!important;
  }
  [class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
      display: inline-block;
      line-height: 14px;
      -webkit-font-smoothing: antialiased;
  }
  .profiledesclink i {
      width: 22px;
      font-size: 19px;
      color: #abb6c4;
      margin-right: 5px;
  }

.imgresponsive {
  background-color: white;
  border-radius: 50%;
  width: fit-content;
}
  
  @media(max-width : 980px) {
 .container1 {
     margin-top: 6pc;
 }

}
