/*
  *
  * ==========================================
  * CUSTOM UTIL CLASSES
  * ==========================================
  *
  */
  a :hover {
    cursor: pointer;
  }
  .navbar {
    transition: all 0.4s;
    background-color: white;
  }
  
  .navbar .nav-link {
    color: #666;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: black;
    text-decoration: none;
  }
  
  .navbar .navbar-brand {
    color: #666;
  }
  
  .toggle {
    color: black;
  }
  
  /* Change navbar styling on scroll */
  .navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar.active .nav-link {
    color: #555;
  }
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
  }
  
  .navbar.active .navbar-brand {
    color: #555;
  }
  
  
  /* Change navbar styling on small viewports */
  @media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }
  
    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
  }
  

  .bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}

.none  {
  display : none !important
}

.pointer {
  cursor : pointer !important
}
.advancedCard{
  max-height : 300px;
  width : 50% !important;
  overflow: scroll;
  display : inline-flex
}

.advancedCard-body {
  display : contents;
  margin-bottom:  10px;
}

@media (min-heigth: 600px) {
  .advancedCard {
      min-height: none;
  } 
}
.inner {
  max-width : 500px !important;
  max-height : 200px !important
}